appdirs==1.4.3
attrs==16.3.0
autobahn==17.5.1
Automat==0.5.0
constantly==15.1.0
cvxopt==1.1.9
cycler==0.10.0
functools32==3.2.3.post2
html==1.16
incremental==16.10.1
logging==0.4.9.6
lprint==0.0.4
matplotlib==2.0.1
numpy==1.12.1
packaging==16.8
pandas==0.19.2
poloniex==0.0.7
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
requests==2.13.0
six==1.10.0
subprocess32==3.2.7
Twisted==17.1.0
txaio==2.7.1
zope.interface==4.4.0
